# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import io, requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
df = pd.read_table('./data/chipotle.tsv')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df.copy()
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [5]:
count = 0
for i in range(0, chipo.shape[0]):
    if float(chipo['item_price'][i][1:]) > 10.00:
        count += 1

count

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [6]:
new_df = pd.DataFrame([chipo['item_name'], chipo['item_price']])
new_df

,0,1,2,3,4,5,6,7,8,9,...,4612,4613,4614,4615,4616,4617,4618,4619,4620,4621
item_name,Chips and Fresh Tomato Salsa,Izze,Nantucket Nectar,Chips and Tomatillo-Green Chili Salsa,Chicken Bowl,Chicken Bowl,Side of Chips,Steak Burrito,Steak Soft Tacos,Steak Burrito,...,Carnitas Bowl,Chips,Bottled Water,Chicken Soft Tacos,Chips and Guacamole,Steak Burrito,Steak Burrito,Chicken Salad Bowl,Chicken Salad Bowl,Chicken Salad Bowl
item_price,$2.39,$3.39,$3.39,$2.39,$16.98,$10.98,$1.69,$11.75,$9.25,$9.25,...,$9.25,$2.15,$1.50,$8.75,$4.45,$11.75,$11.75,$11.25,$8.75,$8.75

### Step 6. Sort by the name of the item

In [9]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [10]:
maxi = -1
ans = ''
for i in range(0, chipo.shape[0]):
    if float(chipo['item_price'][i][1:]) > maxi:
        maxi = float(chipo['item_price'][i][1:])
        ans = chipo['quantity'][i]
ans

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [11]:
ans_count = 0
for i in range(0, chipo.shape[0]):
    if chipo['item_name'][i] == 'Veggie Salad Bowl':
        ans_count += 1
ans_count

18

### Step 9. How many times did someone order more than one Canned Soda?

In [18]:
final_ans = 0
for i in range(0, chipo.shape[0]):
    if chipo['item_name'][i] == 'Canned Soda':
        if chipo['quantity'][i] > 1:
            final_ans += 1
final_ans

20