# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [7]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
import io, requests
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))

### Step 3. Assign it to a variable called drinks.

In [13]:
drinks = df.copy()
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

### Step 4. Which continent drinks more beer on average?

In [9]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [10]:
a = drinks[drinks.continent=='AF'].beer_servings.mean()
b = drinks[drinks.continent=='EU'].beer_servings.mean()
c = drinks[drinks.continent=='AS'].beer_servings.mean()
d = drinks[drinks.continent=='OC'].beer_servings.mean()
e = drinks[drinks.continent=='SA'].beer_servings.mean()

max(a, b, c, d, e)

193.77777777777777

### Step 5. For each continent print the statistics for wine consumption.

In [28]:
gk = drinks.groupby('continent')
gk.get_group('AF')
print(gk['wine_servings'])

<pandas.core.groupby.generic.SeriesGroupBy object at 0x1081c0490>

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [11]:
ans = pd.DataFrame([drinks['spirit_servings'].mean(), drinks['spirit_servings'].min(), drinks['spirit_servings'].max()])

In [12]:
ans

            0
0   80.994819
1    0.000000
2  438.000000